@model List<u21449067_HW05.Models.BorrowModel>
@{
    ViewBag.Title = "BookDetails";
}


<br />

<h2>@Html.Label(Model.Select(x => x.Book.BookName).First()) - @Html.Label(Model.OrderByDescending(x => x.TakenDate).Select(x => x.Status).First())</h2>

<a href="~/Views/Home/ViewStudents.cshtml" class="button">View Students</a>

<div class="col-md-12">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Taken Date</th>
                <th scope="col">Brought Date</th>
                <th scope="col">Borrowed By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var borrow in Model)
            {
                <tr>
                    <td>@borrow.BorrowID</td>
                    <td>@borrow.TakenDate</td>
                    <td>@borrow.BroughtDate</td>
                    <td>@borrow.Student.StudentName @borrow.Student.StudentSurname</td>
                </tr>
            }
        </tbody>
    </table>
</div>


