@model List<u21449067_HW05.Models.StudentModel>
@{
    ViewBag.Title = "ViewStudents";
}

<h2>Students</h2>

@if (ViewBag.Status != 0)
{
<div class="row crudContainer">
    <h1>Search Student Name</h1>
    @if (ViewBag.Status != 0)
    {
        <div class="row crudContainer">
            <h1>Search book name</h1>
            @using (Html.BeginForm("FuzzySearch1", "Home", FormMethod.Post, new { style = "width:100%" }))
            {
                <input type="text" style="width:50%;max-width:none; display:inline" name="searchText" class="form-control" placeholder="Search" />

                @Html.DropDownList("Class", new SelectList(u21449067_HW05.Models.Service.students, "StudentId", "Class"), new { @class = "form-control", name = "student", required = "false" });

                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

            }
        </div>
        <a href="@Url.Action("Index", "Home")" class="btn btn-warning" title="Clear Search">Clear<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
    }
    



        <div class="col-md-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Class</th>
                        <th scope="col">Points</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model)
                    {
                        <tr>
                            <td>@student.StudentID</td>
                            <td>@student.StudentName</td>
                            <td>@student.StudentSurname</td>
                            <td>@student.Class</td>
                            <td>@student.Point</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    }
</div>
}